.career-content {
    display: flex;
    flex-direction: row;
}

.career-desc {
    /* border: 2px solid; */
    padding-left: 12%;
    padding-top: 5%;
}

.job-form {
    /* border: 2px solid; */
    width: 100%;
    margin-left: 5%;
    /* padding-right: 100px; */
}

@media (max-width: 1024.98px) {
    .career-content {
        flex-direction: column;
    }
    .job-form{
        margin-left: 0;
    }
    .career-desc{
        padding-left: 0;
        padding-top: 0;
        margin: 3%;
    }
}

@media (max-width: 766.98px) {
    .career-content {
        flex-direction: column;
    }
}